
   /*   PC    */
   @media screen and (min-width: 961px) {
	.l-firstView{
		width: 70.0vw;
		margin: 0 auto;

		h3{
			padding: 5vh 0 2vh 0;
			font-family: "League Spartan";
            font-size: 32px;
            font-weight: 700;
		}
	}
   }